:root {
    
}

main {
    border: 18px solid rgb(0, 0, 0);
    width: 40%;
    min-width: 323px;
    background-color: rgb(16, 16, 16);
    max-width: 350px;
    border-radius: 30px;
}
#results::-webkit-scrollbar {display: none;}
#notch {
    width: 70%;
    height: 30px;
    background-color: black;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}
body {
    display: flex;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
}

#searchBar {
    width: 90%;
    height: 10%;
    background-color: rgb(42, 42, 42);
    border: 2px solid rgb(42, 42, 42);
    border-radius: 5px;
    margin-top: 8px;
    padding: 10px 0;color: white;
    
}

#searchBar:focus {
    border-color: rgb(42, 42, 42);
}

.result {
    width: 90%;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 12px;
    background-color: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
}

#results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    max-height: 450px;
    min-height: 300px;
    gap: 6px;
    margin: auto;
    padding-top: 5px;
    overflow-y: scroll;
}

@media screen and (max-width: 767px) {
    main {
        border: 0;
        width: 100%;
        max-width: unset;
        border-radius: 0;
        background-color: black;
        height: unset;
    }
    #notch {display: none;}
    body {
        display: block;
        background-color: black;
    }
    #notice {display: none;}
}

#searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#attribution {font-size: 13px;}
.foodCategory {
    font-size: 12px;
    padding-left: 5px;
    color: rgb(255, 255, 255)
}
.result h2 {
    color: rgb(255, 255, 255);
}
.red {color: red;}
.yellow {color: yellow;}

.ingBtn {
    text-align: center;
    padding: 5px;
    width: fit-content;
    margin: 5px auto;
}
#title {text-align: center;}