main {
    border: 18px solid rgb(0, 0, 0);
    width: 40%;
    min-width: 323px;
    background-color: rgb(16, 16, 16);
    max-width: 350px;
    border-radius: 30px;
    aspect-ratio: 9/19.5;
    max-height: 758px;
}

body {
    display: flex;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    font-family:'Segoe UI', Helvetica, Geneva, Verdana, sans-serif;
}

/*Split*/

#searchBar {
    width: 90%;
    height: 10%;
    background-color: rgb(42, 42, 42);
    border: 2px solid rgb(42, 42, 42);
    border-radius: 5px;
    margin-top: 8px;
    padding: 10px 0;color: white;
    
}

#searchBar:focus {
    border-color: rgb(42, 42, 42);
}

#searchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#attribution {font-size: 13px;}

#results {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items:center;
    height: 430px;
    max-height: 430px;
    gap: 6px;
    margin: auto;
    padding-top: 5px;
    overflow-y: scroll;
}

#results::-webkit-scrollbar {display: none;}

#notch {
    width: 70%;
    height: 30px;
    background-color: black;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;
}

#title {text-align: center;}

#apiKeyInput {
    width: 70%;
    padding: 6px 0;
    margin: 4px auto;
    text-align: center;
}

#mainFR {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#getKeyWindow {
    display: none;
    flex-direction: column;
    align-items: center;
}

#submitKeyBtn {
    width: 90%;
    padding: 8px 0;
    color: blue;
    font-size: 16px;
    
}

#resetAPIkey {margin-top: 10px}

#getKeyWindow article {
    width: 98%;
    margin: 0 auto;
    text-align: center;
}

/*Split*/

.foodCategory {
    font-size: 12px;
    padding-left: 5px;
    color: rgb(255, 255, 255)
}
.result h2 {
    color: rgb(255, 255, 255);
}
.red {color: red !important;}

.yellow {color: yellow;}

.ingBtn {
    text-align: center;
    padding: 5px;
    width: fit-content;
    margin: 5px auto;
}

.result {
    width: 90%;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}

.universal {
    border: rgb(41, 41, 41);
    color: white;
    border-radius: 16px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 8px;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 255, 255);
}
.inputUniversal {
    padding: 8px 0;
    width: 90%;
    background-color: rgb(41, 41, 41);
}
.inputUniversal:webkit-autofill  {
    -webkit-text-fill-color: white;
    background-color: rgb(41, 41, 41);
}

/*Split*/

@media screen and (max-width: 767px) {
    main {
        border: 0;
        width: 100%;
        max-width: unset;
        border-radius: 0;
        background-color: black;
        height: unset;
        min-height: none;
        aspect-ratio: none;
    }
    #notch {display: none;}
    body {
        display: block;
        background-color: black;
    }
    #notice {display: none;}
}